
# Node.js dependencies
node_modules/

# Build directories
dist/
dst/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Output of `npm pack`
*.tgz

# Editor and OS-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Mongoose and database-related files
dump/
seed/
*.seed.js
*.seed.ts
seed.js
seed.ts

# TypeScript compilation outputs (if using TypeScript)
*.tsbuildinfo
